*,
::after,
::before {
  box-sizing: border-box;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Cedarville+Cursive&family=Cormorant+Garamond:wght@300&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700&display=swap');

html {
  font-size: 100%;
} /*16px*/

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


:root {
  /* colors */
  --primary-50: #e0fcff;
  --primary-100: #bef8fd;
  --primary-200: #87eaf2;
  --primary-300: #54d1db;
  --primary-400: #38bec9;
  --primary-500: #2cb1bc;
  --primary-600: #14919b;
  --primary-700: #0e7c86;
  --primary-800: #0a6c74;
  --primary-900: #044e54;

  /* grey */
  --grey-50: #f0f4f8;
  --grey-100: #d9e2ec;
  --grey-200: #bcccdc;
  --grey-300: #9fb3c8;
  --grey-400: #829ab1;
  --grey-500: #627d98;
  --grey-600: #486581;
  --grey-700: #334e68;
  --grey-800: #243b53;
  --grey-900: #102a43;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

}

@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100&family=Cormorant+Garamond:wght@300&family=Cormorant+Upright:wght@300&family=Lato&family=Roboto+Flex:opsz,wght@8..144,200&display=swap');

body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

.dark{
  font-size: 16px;
  font-family: 'Roboto Flex', sans-serif;
  color: dark;
}

.light{
  font-size: 16px;
  font-family: 'Roboto Flex', sans-serif;
  color: gray;
}

p {
  font-size: 16px;
  font-family: 'Roboto Flex', sans-serif;
  color: gray;
  margin: 0;
}



h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 60px;
  font-family: 'Roboto Flex', sans-serif;
  color: dark;
}

h2 {
  font-size: 35px;
  font-family: 'Roboto Flex', sans-serif;
  color: dark;
}

h3 {
  font-size: 30px;
  font-family: 'Roboto Flex', sans-serif;
  color: dark;
}

h4 {
  font-size: 25px;
  font-family: 'Roboto Flex', sans-serif;
  color: dark;
}

h5 {
  font-size: 20px;
  font-family: 'Roboto Flex', sans-serif;
  color: dark;
}


a {
  text-decoration: none;
  letter-spacing: var(--letterSpacing);
}
a,
button {
  line-height: 1.15;
}
button:disabled {
  cursor: not-allowed;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}


/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-2);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}
.btn-hero {
  font-size: 1.25rem;
  padding: 0.5rem 1.25rem;
}
.btn-danger {
  background: var(--red-light);
  color: var(--red-dark);
}
.btn-danger:hover {
  background: var(--red-dark);
  color: var(--white);
}
/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
  text-align: center;
  letter-spacing: var(--letterSpacing);
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}
/* form */

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
  transition: var(--transition);
  font-family: 'Cormorant Garamond', serif;
}
/* .form:hover {
  box-shadow: var(--shadow-4);
} */
.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  font-family: 'Cormorant Garamond', serif;
}
.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
  font-family: 'Cormorant Garamond', serif;
  outline: none;
  box-shadow: var( --shadow-1);
}
.form-input,
.form-select,
.btn-block {
  height: 35px;
  font-family: 'Cormorant Garamond', serif;
}
.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}
/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid gray;
  border-radius: 50%;
  border-top-color: lightblue;
  animation: spinner 2s linear infinite;
}
.loading-center {
  margin: 0 auto;
}


.circle-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


/* Layouts */

.flex-even{
  display: flex;
  gap: 2rem;
}

.flex-even >*{
  flex: 1;
}


@media screen and (max-width:700px) {
  .flex-even >*{
    margin-top: 40px;
  }
}


/* Grids */

.grid-14{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(14rem,1fr));
  gap: 2rem;
}
.grid-12{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(12rem,1fr));
  gap: 2rem;
}
.grid-15{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
  gap: 2rem;
}
.grid-16{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(16rem,1fr));
  gap: 2rem;
}
.grid-17{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(17rem,1fr));
  gap: 2rem;
}
.grid-18{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
  gap: 2rem;
}
.grid-19{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(19rem,1fr));
  gap: 2rem;
}
.grid-20{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
  gap: 2rem;
}
.grid-21{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(21rem,1fr));
  gap: 2rem;
}
.grid-22{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
  gap: 2rem;
}
.grid-23{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(23rem,1fr));
  gap: 2rem;
}

.grid-10{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
  gap: 2rem;
}


/* grid Even */

.grid-even-2{
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.grid-even-3{
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}


.grid-even-4{
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

/* Flex masonary */

.flex-wrap{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.flex-wrap >*{
  flex-grow: 1;
  flex: 1;
  /* Three Columns In the manasory */
  /* flex-basis: 33%; */
}

.div-center-80{
  margin-left: 50%;
  transform: translateX(-50%);
  width: 80%;
}
.div-center-90{
  margin-left: 50%;
  transform: translateX(-50%);
  width: 90%;
}
.div-center-70{
  margin-left: 50%;
  transform: translateX(-50%);
  width: 70%;
}
.div-center-60{
  margin-left: 50%;
  transform: translateX(-50%);
  width: 60%;
}
.div-center-50{
  margin-left: 50%;
  transform: translateX(-50%);
  width: 50%;
}

.div-center{
  margin-left: 50%;
  transform: translateX(-50%);
}


.text-center{
  text-align: center;
}

.div-perfect-center{
   transform: translate(-50%,-50%);
   position: absolute;
   top: 50%;
   left: 50%;
}

/* On the parent Div */
.list-counter-p{
  counter-reset: counter-name;
}

.list-counter-p p{
  counter-increment: counter-name;
  position: relative;
  margin-left: 40px;
}
.list-counter-p p::before{
  content: counter(counter-name) "--" "   " ;
  position: absolute;
  left: -40px;
  color: red;
}


.list-counter-li{
  counter-reset: counter-name;
}

.list-counter-li li{
  counter-increment: counter-name;
  position: relative;
  margin-left: 40px;
}
.list-counter-li li::before{
  content: counter(counter-name) "--" "   " ;
  position: absolute;
  left: -40px;
  color: red;
}

/* React Mini Project and The React Important Stuff Are Important Folders To See */
/* Pseudo Selectors are in there Grid All Info ans the Shapes In Css Trnsforms They Are All In There */



/* Transtions Info*/
/* They work in three cases one on the hover put the transition on the main class */
/* e.g .form{transition:}  .form:hover{}*/
/* We can put the trnsition on the change as like in the height or any type of the change transition must on the main class not on the hover and always give the property of the transition not use the all  */
/* Transition works on the both sides */


/* Animations Info */
/* They worl on one side only farward not the backward */
/* Thet also work on hover like the same as the transitions */
/* They usually used to get the initial look first time the page rendered */
